@model Dictionary<string, List<Book>>

@foreach (var (subcategory, books) in Model)
{
    <br/>
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <h1 class="text-primary">@subcategory</h1>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card h-100">
                    <img src="@books[0].ImageUrl" class="card-img-top rounded book-img"/>

                    <div class="card-body">
                        <div class="pl-1">
                            <p class="card-title h5 text-primary">@books[0].Title</p>
                            <p class="card-title text-info"><b>@books[0].Author</b></p>
                        </div>
                        <div class="pl-1">
                            <p>From: <b>$@books[0].Products.Select(p => p.SalePrice).Min().ToString("0.00")</b></p>
                        </div>
                    </div>

                    <a class="btn btn-primary form-control bottom-100" asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@books[0].Products.First().Id">
                        Details
                    </a>
                </div>
            </div>
            @for (int i = 1; i < books.Count; i++)
            {
                <div class="carousel-item">
                    <div class="card h-100">
                        <img src="@books[i].ImageUrl" class="card-img-top rounded book-img"/>

                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@books[i].Title</p>
                                <p class="card-title text-info"><b>@books[i].Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p>From: <b>$@books[i].Products.Select(p => p.SalePrice).Min().ToString("0.00")</b></p>
                            </div>
                        </div>
                        <a class="btn btn-primary form-control bottom-100" asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@books[i].Products.First().Id">
                            Details
                        </a>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}


@section Scripts
    {
    <script src="~/js/slider.js"></script>
}
